body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  caret-color: transparent;
  cursor: pointer;

}

table,
th,
td {
  border: 1px solid black;
  border-width: 3px;
 
}

table {
  border-collapse: collapse; /* This avoids double borders */
  border-width: 3px;

  width: 500px;
  height: 500px;
  
  border-collapse: collapse;
  border-style: hidden;

}


tr {
    text-align: center;
   
    
}

td {
     width: 50px;
     height: 50px;
     font-size: 2.5rem;
     

}

.playerTurn {
    text-align: center;
}

.gameboardContainer {
  text-align: center;
  

}

button {
  margin-top: 30px;
  cursor: pointer;
}



